<a href="https://colab.research.google.com/github/brunodleite/alura_reg_linear_II/blob/main/analises_preliminares.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1 style='color: green; font-size: 36px; font-weight: bold;'>Data Science - Regressão Linear II</h1>

# <font color='red' style='font-size: 30px;'>1.2 Conhecendo o Dataset</font>
<hr style='border: 2px solid red;'>

## Importando a biblioteca pandas

https://pandas.pydata.org/

In [1]:
import pandas as pd

## O Dataset e o Projeto
<hr>

### Descrição:
<p style='font-size: 18px; line-height: 2; margin: 10px 50px; text-align: justify; text-indent: 35px;'>O mercado imobiliário vem sendo objeto de diversos estudos e pesquisas nos últimos tempos. A crise financeira que afeta a economia tem afetado significativamente os investimentos e ganhos advindos deste setor. Este cenário incentiva o aumento do interesse por estudos de previsão de demanda baseados em características deste mercado, dos imóveis e do entorno destes imóveis.</p>

<p style='font-size: 18px; line-height: 2; margin: 10px 50px; text-align: justify; text-indent: 35px;'>Neste contexto o objetivo principal do nosso projeto é desenvolver um sistema de avaliação imobiliária utilizando a metodologia de regressões lineares que é uma das técnicas de machine learning.</p>

<p style='font-size: 18px; line-height: 2; margin: 10px 50px; text-align: justify; text-indent: 35px;'>Nosso *dataset* é uma amostra aleatória de tamanho 5000 de imóveis disponíveis para venda no município do Rio de Janeiro.</p>

### Dados:
<ul style='font-size: 18px; line-height: 2; text-align: justify;'>
    <li><b>Valor</b> - Valor (R$) de oferta do imóvel</li>
    <li><b>Area</b> - Área do imóvel em m²</li>
    <li><b>Dist_Praia</b> - Distância do imóvel até a praia (km) (em linha reta)</li>
    <li><b>Dist_Farmacia</b> - Distância do imóvel até a farmácia mais próxima (km) (em linha reta)</li>
</ul>

## Leitura dos dados

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/brunodleite/alura_reg_linear_II/main/dataset.csv', sep=';')

## Visualizar os dados

In [4]:
df.head()

     Valor  Area  Dist_Praia  Dist_Farmacia
0  4600000   280    0.240925       0.793637
1   900000   208    0.904136       0.134494
2  2550000   170    0.059525       0.423318
3   550000   100    2.883181       0.525064
4  2200000   164    0.239758       0.192374

## Verificando o tamanho do dataset

In [5]:
df.shape

(5000, 4)

# <font color='red' style='font-size: 30px;'>1.3 Análises Preliminares</font>
<hr style='border: 2px solid red;'>

## Estatísticas descritivas

In [7]:
df.describe().round(2)

             Valor     Area  Dist_Praia  Dist_Farmacia
count      5000.00  5000.00     5000.00        5000.00
mean    1402926.39   121.94        3.02           0.50
std     1883268.85    90.54        3.17           0.29
min       75000.00    16.00        0.00           0.00
25%      460000.00    70.00        0.44           0.24
50%      820000.00    93.00        1.48           0.50
75%     1590000.00   146.00        5.61           0.75
max    25000000.00  2000.00       17.96           1.00